################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/bin
/node_modules
/obj/Debug
/preview-content.njsproj.user
/.npmrc